* {
  letter-spacing: 0.5px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  box-sizing: inherit;
  border-collapse: inherit;
}

html {
  font-family: Whitney Medium, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  border-collapse: collapse;
  --scrollbarBG: rgb(32, 34, 37);
  --thumbBG: rgb(99, 102, 105);
  height: 100%;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  min-width: 900px;
  height: 100%;
  font-family: Whitney Medium, sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'Whitney Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Medium'), url('./assets/fonts/whitneymedium.woff') format('woff');
}

@font-face {
  font-family: 'Whitney Book Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Whitney Book Regular'), url('./assets/fonts/whitneybook.woff') format('woff');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #dcddde;
  -webkit-box-shadow: 0 0 0px 1000px #303339 inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 2rem;
}
